@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "CentraNo2";
  src: url("/font/CentraNo2-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "CentraNo2-Light";
  src: url("/font/CentraNo2-Light.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "CentraNo2-Regular";
  src: url("/font/CentraNo2-Book.ttf") format("truetype");
  font-weight: 400;
}

body {
  font-family: "CentraNo2", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.text-gradient {
  background: linear-gradient(237.24deg, #87603f 15.61%, #fff3cf 114.56%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.overflow-x-auto {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.max-w-full {
  max-width: 100%;
}

.leaderboard-winner-bg-gradient {
  background: linear-gradient(180deg, #061b1c 0%, #030a0a 100%);
}

/* Toggle */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  min-width: 44px;
  min-height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #79a09f;
  transition: 0.4s;
  border-radius: 10000px;
}

.slider:before {
  position: absolute;
  content: "";
  min-height: 20px;
  min-width: 20px;
  border-radius: 1000px;
  left: 3;
  bottom: 3px;
  transform: rotate(270deg);
  background-color: white;
  transition: 0.4s;
}

.switch input:checked + .slider {
  background-color: #8bdb00;
}

.switch input:checked + .slider:before {
  transform: translateX(1.1em);
}

/* Custom scrollbar styles */
.custom-scrollbar {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #cbad7e #091618; /* Thumb and track colors */
  border-radius: 8px !important; /* Rounded corners for thumb */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Scrollbar width */
  height: 8px; /* Scrollbar height (for horizontal scrollbars) */
  border-radius: 8px !important; /* Rounded corners for thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cbad7e; /* Scrollbar thumb color */
  border-radius: 8px !important; /* Rounded corners for thumb */
  border: 2px solid #091618; /* Optional border around the thumb */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #091618; /* Scrollbar track color */
  border-radius: 8px !important; /* Rounded corners for track */
}
